body{
	font-family:"Avenir Next";
}

main{
	 margin:30px;
	 border:solid 2px #F0F0F0;
   border-radius:20px;
	 padding:30px;
	 box-shadow:4px 4px 16px #808080;
	 height:800px;

}



table{
	border-collapse:collapse;
	width:100%;
	text-align:center;
}
th,td{
	padding: 5px 8px;
	border: 0.5px solid #333;
}
ul{
	padding :3px 0px;
}
li{
	list-style:none;
	margin:10px 0;
}
a{
	text-decoration:none;
	color: #0067C0;
}
a:hover{
	text-decoration:underline;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity:0.5;
}
.header{
	background-color: #26d0c9;
	color:#ffff;
	height:90px;
}
.header-logo{
	font-size:36px;
	border-bottom:solid 2px #F0F0F0;
	margin: 30px;
}
.main-footer{

	margin-top: 30px;
}
